/* PAGE */

html {
  background: #eceff1;
}

body,
.pure-g [class*=pure-u] {
  font-family: Roboto
}

h1, h2, h3 {
  font-family: Roboto;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.cta {
  background: #00bfa5;
  color: white;
  border: none;
  padding: 8pt;
  min-width: 150px;
}

.cta:disabled {
  background: #cccccc;
}

.destructive {
  background: #ff0000;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 65px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

.section {
  background: white;
  padding: 25pt;
  margin-bottom: 20pt;
  /* padding-top: 15pt; */
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding-left: 10pt;
  padding-right: 10pt;
  background: #0c1a2b;
  font-family: Roboto;
}

.navbar a {
  color: #000;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  color: #37474f;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.rbc-calendar {
  background: white;
  padding: 25pt;
}

.rbc-today {
  background: #eceff1;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
  opacity: 1;
  position: relative !important;
  pointer-events: auto;
}

.rbc-agenda-view {
  flex: none;
}

.rbc-day-slot .rbc-event {
  background: #00bfa5;
  border: none;
}

.pure-g {
  margin-top: 25pt
}

.half {
  justify-content: stretch;
  width: 50%;
  align-self: center;
  margin-left: 25%;
}

.left {
  float: left;
  width: 50%;
}

.left:before,
.left:after {
    content: " ";
    display: table;
}

.left:after {
    clear: both;
}

.left {
    *zoom: 1;
}

td, th {
  padding: 10pt 0pt;
}

/* detail */

.address {
  width: 70;
  white-space: 'nowrap';
  overflow: 'hidden';
  text-overflow: 'ellipsis';
  float: 'left';
}

.name {
  font-size: 24pt !important;
}

.contactDetails {
  color: "grey";
  clear: 'both';
  white-space: 'pre-line';
  margin-top: "32pt";
}